<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<!-- Servlets -->
	<servlet>
		<servlet-name>authServlet</servlet-name>
		<servlet-class>com.appspot.piment.rpc.AuthServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>tqqWeiboServlet</servlet-name>
		<servlet-class>com.appspot.piment.rpc.TQQWeiboServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>job001</servlet-name>
		<servlet-class>com.appspot.piment.jobs.Job001</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>authServlet</servlet-name>
		<url-pattern>/piment/auth</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>tqqWeiboServlet</servlet-name>
		<url-pattern>/piment/tqq/weibo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>job001</servlet-name>
		<url-pattern>/corns/job001</url-pattern>
	</servlet-mapping>
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>piment.html</welcome-file>
	</welcome-file-list>
</web-app>
