<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

	<!-- Http Servlets -->
	<servlet>
		<servlet-name>initDataStore</servlet-name>
		<servlet-class>com.appspot.piment.servlet.InitDataStore</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>exchangeAccessToken</servlet-name>
		<servlet-class>com.appspot.piment.servlet.ExchangeAccessToken</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getRequestToken</servlet-name>
		<servlet-class>com.appspot.piment.servlet.GetRequestToken</servlet-class>
	</servlet>

	<!-- Http Servlets for jobs -->
	<servlet>
		<servlet-name>job1001</servlet-name>
		<servlet-class>com.appspot.piment.jobs.Job1001</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>job1002</servlet-name>
		<servlet-class>com.appspot.piment.jobs.Job1002</servlet-class>
	</servlet>

	<!-- データクリアジョブ -->
	<servlet>
		<servlet-name>job1009</servlet-name>
		<servlet-class>com.appspot.piment.jobs.Job1009</servlet-class>
	</servlet>

	<!-- Servlet URL -->
	<servlet-mapping>
		<servlet-name>initDataStore</servlet-name>
		<url-pattern>/admin/initDataStore</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>exchangeAccessToken</servlet-name>
		<url-pattern>/user/auth/callback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getRequestToken</servlet-name>
		<url-pattern>/user/auth/requestToken</url-pattern>
	</servlet-mapping>

	<!-- Job URL -->
	<servlet-mapping>
		<servlet-name>job1001</servlet-name>
		<url-pattern>/admin/crons/job1001</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>job1002</servlet-name>
		<url-pattern>/admin/crons/job1002</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>job1009</servlet-name>
		<url-pattern>/admin/crons/job1009</url-pattern>
	</servlet-mapping>


	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- Security and Authentication -->

	<security-constraint>
		<web-resource-collection>
			<url-pattern>/user/*</url-pattern>
			<url-pattern>/piment.html</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>
